# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Data and Uploads (Crucial to exclude sensitive student data)
uploads/

*.tmp

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

*.db
*.sqlite

*.bat
